<div class="jumbotron">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <%= button_to "Platos", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
        <div class="btn-group" role="group">
            <%= button_to "Acompañamientos", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
        <div class="btn-group" role="group">
            <%= button_to "Clientes", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
    </div>
    <br>
    <div class="well">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <%= button_to "Platos", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
        <div class="btn-group" role="group">
            <%= button_to "Acompañamientos", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
        <div class="btn-group" role="group">
            <%= button_to "Clientes", products_path, :method => "get", class: 'btn btn-default' %>
        </div>
    </div>
</div>